<div class="text-justify pr-3 pl-3 pt-2" [@fadeInOnEnter]>
    <img src="/assets/adm-perfil.jpg" class="float-sm-left img-fluid z-depth-2 rounded-circle mx-2" alt="Sobre mi" style="max-height: 70vh; max-width: 70vw;" [@rotateInOnEnter]>
        
    <h1 class="mb-3">
        Me presento...
    </h1>
    <h4>
        ¡Hola! Soy Sheila (Shei), la creadora de <strong class="blue-text titulo font-weight-bold">Algo de Mí</strong>
    </h4>

    <p>

        Junto con mi familia y amigos que me ayudaron y ayudan constantemente para que todo esto sea posible. Y también
        ustedes, que están del otro lado.
    </p>
    <p>
        Tengo 25 años y AMO tejer. Aprendí a los 6-7 años. Vengo de una familia de tejedoras y fue mi mamá (Gladys) y mi
        abuela materna (Haydeé) quienes me transmitieron todas sus enseñanzas y este bello amor por el arte del crochet.
    </p>
    <p>

        Comencé a tejer con más frecuencia este último tiempo ya que estaba buscando algo que me hiciera bien en tiempos
        emocionalmente complicados. ¿Y adivinen qué? EL TEJIDO SANA, se los aseguro, como todo arte. Con el correr del
        tiempo, el crochet, se volvió parte de mí de una manera mucho más consciente (cualidad que va perfecto con el
        nombre). Luego, todo este amor por el tejido fue tomando forma de proyecto a nivel laboral. Con mucho trabajo de
        por medio y muchísimo esfuerzo (y sobre todo, ayuda de mis seres queridos) lo estoy haciendo crecer! No doy nada
        por sentado, siempre hay algo por hacer y aprender... así es la vida del emprendedor.
    </p>

    <p>
        También amo hacer manualidades en general, siempre estoy creando, ideando, imaginando. ¡Mi cabeza no para! Y
        cada creación va conectada con mi corazón y mi alma. Todo lo hago con mucho amor.
        Me gusta realizar esas actividades con música, con el mate siempre cerca, y si es al aire libre, rodeada de
        naturaleza, mucho mejor. Amo las plantas, y sobre todo el mar (aunque vivo bastante lejos). ¡Si un paisaje tiene
        un poco de agua para mí, es un lugar completo!
        Así que… ¡Acá estoy para enseñarte a tejer, ayudarte a seguir aprendiendo y acompañarte en cada proceso,
        creando, imaginando y sobre todo para transmitirte y compartir lo lindo que es tejer, lo bien que hace al alma y
        a la salud emocional!
    </p>

    <h3 class="my-3 deep-purple-text">
        Esta comunidad ya no es Algo de Mí… es ALGO DE NOSOTRAS. ¡Gracias por ser parte!
    </h3>
    <hr>

    <!-- <h3 class="text-center">
        Te muestro algunas de las cosas que hago!
    </h3>

 -->

    <div class="row mx-1">
        <div class="col-lg-4 col-md-6 mb-3">
            <div class="view overlay zoom">
                <img src="/assets/adm-about1.jpg"
                    class="img-fluid z-depth-1" alt="Responsive image">
                <div class="mask flex-center rgba-yellow-slight">
                </div>
            </div>

        </div>

        <div class="col-lg-4 col-md-6 mb-3">
            <div class="view overlay zoom">
                <img src="/assets/adm-about2.jpg"
                    class="img-fluid z-depth-1" alt="Responsive image">
                <div class="mask flex-center rgba-cyan-slight">
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 mb-3">
            <div class="view overlay zoom">
                <img src="/assets/adm-about3.jpg"
                    class="img-fluid z-depth-1" alt="Responsive image">
                <div class="mask flex-center rgba-red-slight">
                </div>
            </div>
        </div>
    </div>
</div>