<div [@fadeInOnEnter]>
    <img src="https://mdbootstrap.com/img/Photos/Avatars/img(31).jpg"
        class="float-sm-left img-fluid z-depth-2 rounded-circle mx-2" alt="Mi foto">
    <h1>
        Hola, yo soy Sheila!
    </h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sed lacinia tortor, ut placerat purus. Proin
        molestie convallis dui at tempor. Mauris feugiat luctus semper. Duis eu hendrerit orci, vel consequat arcu.
        Cras dignissim turpis lacus, semper volutpat turpis sodales eget. Pellentesque dictum, diam ut aliquet
        malesuada, lorem velit vehicula nunc, eu pellentesque tellus diam non elit. Sed at tristique dolor, vitae
        porttitor nulla. Vivamus lacus risus, consectetur vel mollis sagittis, tincidunt in nulla. Cras nec sapien a
        ipsum gravida tempus id at nunc. Suspendisse congue ligula ut lorem varius, id sagittis risus iaculis. Nam
        metus risus, consectetur eget nunc at, pellentesque faucibus ipsum. Maecenas egestas condimentum risus ut
        mollis.
    </p>

    <p>
        Proin tempus nisi non pharetra euismod. Praesent id erat et eros pretium dictum et eu nisl. Ut in tincidunt
        purus, posuere fermentum felis. Vestibulum egestas lectus vulputate est mollis interdum. Proin interdum
        vitae felis sit amet lacinia. Sed non cursus dui. Nam sed maximus ligula, vel pretium metus. Morbi interdum
        lorem in nulla vestibulum porttitor. Sed sed rhoncus quam, vitae fermentum enim. Vivamus varius augue sit
        amet metus scelerisque, ac tincidunt justo interdum. Phasellus vel consectetur ligula, in elementum nisl. In
        aliquet lectus vitae magna rhoncus pharetra. Nullam pellentesque vitae elit a bibendum. Mauris id venenatis
        lectus. Praesent id posuere elit.
    </p>

    <p>
        Praesent vel metus tellus. In a nibh mi. Praesent eget orci odio. Nam euismod, orci aliquet sagittis varius,
        sapien mauris commodo justo, sed laoreet mauris ex sed mi. Sed a metus euismod, sodales dui et, commodo
        nulla. Donec ullamcorper semper ex, non egestas risus aliquet quis. Fusce ipsum ipsum, porttitor non
        vestibulum pulvinar, venenatis a lectus. Pellentesque commodo sodales ultricies. Suspendisse vitae erat
        dignissim, tempus metus id, dignissim nisl.
    </p>

    <hr>
    <h3 class="text-center">
        Te muestro algunas de las cosas que hago!
    </h3>



    <div class="row mx-1">
        <div class="col-lg-4 col-md-6 mb-3">
            <div class="view overlay zoom ">
                <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/6-col/img(115).jpg"
                    class="img-fluid z-depth-1" alt="Responsive image">
                <div class="mask flex-center rgba-yellow-slight">
                </div>
            </div>

        </div>

        <div class="col-lg-4 col-md-6 mb-3">
            <div class="view overlay zoom">
                <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/6-col/img(116).jpg"
                    class="img-fluid z-depth-1" alt="Responsive image">
                <div class="mask flex-center rgba-cyan-slight">
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 mb-3">
            <div class="view overlay zoom">
                <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/6-col/img(117).jpg"
                    class="img-fluid z-depth-1" alt="Responsive image">
                <div class="mask flex-center rgba-red-slight">
                </div>
            </div>
        </div>
    </div>
</div>