<div [@fadeInOnEnter]>

  <mdb-card
    imageBackground="url('https://laopinionla.files.wordpress.com/2018/11/shutterstock_765966355.jpg?quality=80&strip=all&w=940')"
    class="mx-md-3">
    <div class="text-white text-center rgba-stylish-strong py-5 px-4">
      <div class="py-5">

        <!-- <h5 class="h5 orange-text"><mdb-icon fas icon="camera-retro"></mdb-icon> - Sheila Crochet!</h5> -->
        <h2 class="card-title h2 my-4 py-2">Bienvenida a mi página!</h2>
        <p class="mb-4 pb-2 px-md-5 mx-md-5">Acá vas a encontrar todos los secretos y boludeces que se me ocurran poner.
          Espero que te gusten!</p>
        <a mdbBtn gradient="peach" mdbWavesEffect>
          <mdb-icon fas icon="clone" class="left"></mdb-icon> View project
        </a>

      </div>
    </div>
  </mdb-card>

  <!-- <mdb-card imageBackground="url('https://laopinionla.files.wordpress.com/2018/11/shutterstock_765966355.jpg?quality=80&strip=all&w=940')">
    <div class="text-white text-center py-5 px-4 my-5">
      <div>
        <h2 class="card-title h1-responsive pt-3 mb-5 font-bold"><strong>Create your beautiful website with MDBootstrap</strong></h2>
        <p class="mx-5 mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam,
          voluptatem,
          optio vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum dignissimos. Odit sed qui,
          dolorum!
        </p>
        <a mdbBtn color="white" outline="true" class="waves-light" mdbWavesEffect>
          <mdb-icon fas icon="clone" class="left"></mdb-icon>View project
        </a>
      </div>
    </div>
  </mdb-card> -->

  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tempor, tellus quis bibendum fermentum, dolor urna
    viverra elit, sed gravida risus orci ac ipsum. Mauris ac neque tincidunt, feugiat mi sed, fermentum est. Praesent
    mauris sapien, ultricies sed luctus sit amet, condimentum sed neque. Vestibulum dapibus faucibus convallis. Quisque
    ut lectus non ligula euismod sagittis. Cras at diam quis eros lobortis tincidunt quis ac nunc. Etiam interdum vel
    nulla non efficitur. Nulla id ligula at lectus sollicitudin lacinia. Phasellus convallis vehicula lorem vel
    accumsan. Nullam dolor lorem, rhoncus ut mattis a, sagittis et nibh. Integer sollicitudin facilisis efficitur.
    Phasellus et ex vitae odio aliquet gravida id a leo. Nulla facilisi. Nulla facilisi.
  </p>
  <p>
    Morbi non ex eget ligula dignissim sagittis vitae et ante. Mauris nec laoreet nulla, vitae maximus odio. Curabitur
    tempus finibus tellus. Vestibulum lorem odio, mollis non risus non, sodales condimentum turpis. Aenean vitae urna
    sodales dolor dictum imperdiet at vitae sem. Nulla vel vestibulum libero. Vestibulum ante ipsum primis in faucibus
    orci luctus et ultrices posuere cubilia Curae; Vestibulum pretium ex viverra commodo fermentum. Suspendisse potenti.
  </p>
  <p>
    Donec leo est, dictum ut neque et, vulputate tempor nulla. Ut dictum tempor nibh ut porttitor. Praesent sit amet
    volutpat justo. Nullam eleifend sollicitudin porta. Proin hendrerit ligula nisi. Nullam placerat accumsan magna sed
    consequat. Fusce a enim vitae tellus pharetra scelerisque. Mauris feugiat nunc in dui commodo, non posuere leo
    aliquam. Mauris tincidunt sed leo non pulvinar.
  </p>
  <p>
    Duis nec cursus lacus. Vivamus fermentum vitae nibh nec congue. Vivamus eget bibendum tortor, eu fringilla tellus.
    Donec eleifend accumsan euismod. Suspendisse interdum ultrices odio non congue. Ut aliquam tellus sapien, id
    sagittis felis ultrices sed. Vivamus placerat lorem mi, a sollicitudin purus dictum vel. In hac habitasse platea
    dictumst. Mauris placerat pellentesque lectus, eget blandit justo elementum ac. Sed a accumsan est, vel facilisis
    nisl. Proin sem dui, venenatis non consequat at, posuere eu mauris. Vivamus in tortor vitae dolor tempus gravida.
  </p>
  <p>
    Mauris dignissim gravida consequat. Maecenas ultricies ipsum dui, in dignissim elit tincidunt nec. Sed tincidunt,
    tortor sed aliquam efficitur, neque felis cursus nunc, nec porta sapien risus eu libero. Nam commodo nisi eu lorem
    iaculis fermentum. Phasellus consectetur tortor quis augue efficitur vestibulum. Quisque eget mattis velit. Fusce
    gravida mauris sit amet ante auctor efficitur. Pellentesque a quam sodales, mattis odio vel, malesuada ex. Nullam
    vitae ligula sit amet lectus interdum malesuada. Pellentesque sit amet quam non lectus laoreet viverra. Nulla
    euismod turpis enim, vitae auctor odio sollicitudin laoreet. Pellentesque maximus orci non risus accumsan, ut
    rhoncus neque lacinia. Etiam ut consequat felis.
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tempor, tellus quis bibendum fermentum, dolor urna
    viverra elit, sed gravida risus orci ac ipsum. Mauris ac neque tincidunt, feugiat mi sed, fermentum est. Praesent
    mauris sapien, ultricies sed luctus sit amet, condimentum sed neque. Vestibulum dapibus faucibus convallis. Quisque
    ut lectus non ligula euismod sagittis. Cras at diam quis eros lobortis tincidunt quis ac nunc. Etiam interdum vel
    nulla non efficitur. Nulla id ligula at lectus sollicitudin lacinia. Phasellus convallis vehicula lorem vel
    accumsan. Nullam dolor lorem, rhoncus ut mattis a, sagittis et nibh. Integer sollicitudin facilisis efficitur.
    Phasellus et ex vitae odio aliquet gravida id a leo. Nulla facilisi. Nulla facilisi.
  </p>
  <p>
    Morbi non ex eget ligula dignissim sagittis vitae et ante. Mauris nec laoreet nulla, vitae maximus odio. Curabitur
    tempus finibus tellus. Vestibulum lorem odio, mollis non risus non, sodales condimentum turpis. Aenean vitae urna
    sodales dolor dictum imperdiet at vitae sem. Nulla vel vestibulum libero. Vestibulum ante ipsum primis in faucibus
    orci luctus et ultrices posuere cubilia Curae; Vestibulum pretium ex viverra commodo fermentum. Suspendisse potenti.
  </p>
  <p>
    Donec leo est, dictum ut neque et, vulputate tempor nulla. Ut dictum tempor nibh ut porttitor. Praesent sit amet
    volutpat justo. Nullam eleifend sollicitudin porta. Proin hendrerit ligula nisi. Nullam placerat accumsan magna sed
    consequat. Fusce a enim vitae tellus pharetra scelerisque. Mauris feugiat nunc in dui commodo, non posuere leo
    aliquam. Mauris tincidunt sed leo non pulvinar.
  </p>
  <p>
    Duis nec cursus lacus. Vivamus fermentum vitae nibh nec congue. Vivamus eget bibendum tortor, eu fringilla tellus.
    Donec eleifend accumsan euismod. Suspendisse interdum ultrices odio non congue. Ut aliquam tellus sapien, id
    sagittis felis ultrices sed. Vivamus placerat lorem mi, a sollicitudin purus dictum vel. In hac habitasse platea
    dictumst. Mauris placerat pellentesque lectus, eget blandit justo elementum ac. Sed a accumsan est, vel facilisis
    nisl. Proin sem dui, venenatis non consequat at, posuere eu mauris. Vivamus in tortor vitae dolor tempus gravida.
  </p>
  <p>
    Mauris dignissim gravida consequat. Maecenas ultricies ipsum dui, in dignissim elit tincidunt nec. Sed tincidunt,
    tortor sed aliquam efficitur, neque felis cursus nunc, nec porta sapien risus eu libero. Nam commodo nisi eu lorem
    iaculis fermentum. Phasellus consectetur tortor quis augue efficitur vestibulum. Quisque eget mattis velit. Fusce
    gravida mauris sit amet ante auctor efficitur. Pellentesque a quam sodales, mattis odio vel, malesuada ex. Nullam
    vitae ligula sit amet lectus interdum malesuada. Pellentesque sit amet quam non lectus laoreet viverra. Nulla
    euismod turpis enim, vitae auctor odio sollicitudin laoreet. Pellentesque maximus orci non risus accumsan, ut
    rhoncus neque lacinia. Etiam ut consequat felis.
  </p>
</div>