<div [@fadeInOnEnter]>
    
<div class="row no-gutters">
  <div class="col-md-6" [@zoomInOnEnter]>
    <div class="d-flex indigo-text lady-lips-gradient flex-column justify-content-center align-items-center h-100">
      <h1>¡Bienvenida Crochetera!</h1>
      <p class="my-2">
        Te invito a formar parte del mundo <strong class="blue-text titulo font-weight-bold">Algo de Mí!</strong>
      </p> 
        <p class="px-2 mt-4">
        Para que tejamos juntas y compartamos esta bella pasión por el crochet.
      </p>
    </div>

  </div>
  <div class="col-md-6" [@fadeInRightOnEnter]>

    <div class="view">
      <img src="/assets/adm-main.png"  class="img-fluid img-thumbnail z-depth-3" >
      <div class="mask rgba-red-slight">
      </div>
    </div>
  </div>
</div>

<hr class="mt-2 mx-4">
<hr class="mt-2 mx-5">
  <h2 class="ml-3 text-danger font-weight-bold">Últimas Novedades!</h2>

  <div class="row mx-0">
    <div class="col-sm-6 col-md-4 col-lg-3 d-flex align-items-stretch" *ngFor="let producto of productos">
      <mdb-card class="my-3 cardDetalles">
        <div class="view overlay waves-light" mdbWavesEffect>
          <mdb-card-img src="{{urlImagenes}}{{producto.imagenPortada}}" alt="Imagen {{producto.nombre}}"></mdb-card-img>
          <a [routerLink]="['/producto', producto.nombre]">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
        <mdb-card-body>
          <mdb-card-title>
            <h4>{{producto.nombre}}</h4>
          </mdb-card-title>

          <mdb-card-text>
            {{producto.descripcionCorta}}
          </mdb-card-text>
          <p class="text-success text-right">
            {{producto.precio ? '$' + producto.precio : 'GRATIS!'}}
          </p>

        </mdb-card-body>
        <a mdbBtn mdbWavesEffect color="primary" [routerLink]="['/producto', producto.nombre]">
          <mdb-icon fas icon="plus"></mdb-icon> Info
        </a>
      </mdb-card>
    </div>
  </div>


</div>