.titulo {
    font-family: 'Kalam', cursive;
    font-size: 25px;
}

h1, h3 {
    font-family: 'Kalam', cursive;
}

p {
    font-family: 'Comfortaa', cursive;
    font-size: 20px;
}

#imagenPrincipal {
    background-image: url('/assets/adm-main.png');
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;              /* optional, center the image */
}