<router-outlet></router-outlet>
<footer class="page-footer font-small pink">

    <div class="container">
      <div class="row">

        <div class="col-md-12 py-3">
          <div class="mb-1 d-flex justify-content-between">

          <a class="ins-ic" href="https://www.instagram.com/algodemi.tejidos/" target="_blank" title="Seguime en Instagram!">
              <mdb-icon fab icon="instagram" size="2x" class="white-text"></mdb-icon>
          </a>


            <a class="fb-ic">
              <mdb-icon fab icon="facebook" size="2x" class="white-text"></mdb-icon>
            </a>

            <!-- <a class="pin-ic">
                <mdb-icon fab icon="pinterest" size="2x" class="white-text mr-md-5 mr-3"></mdb-icon>
            </a> -->

        </div>
        </div>
      </div>
    </div>
    <div class="footer-copyright text-center py-3">© 2020 Algo de Mi Tejidos
    </div>
  </footer>