<mdb-navbar [SideClass]="color" [containerInside]="false">
    <mdb-navbar-brand><a class="navbar-brand" routerLink="/">Algo De Mi</a></mdb-navbar-brand>
    <links>
      <ul class="navbar-nav mr-auto" (click)="currentPath()">
        <li class="nav-item" [ngClass]="path == '/quien-soy' ? 'active' : ''">
          <a class="nav-link waves-light" routerLinkActive="active" mdbWavesEffect routerLink="/quien-soy"><mdb-icon far icon="grin-stars"></mdb-icon>¿Quién soy?</a>
        </li>
        <li class="nav-item" [ngClass]="path == '/shop' ? 'active' : ''">
          <a class="nav-link waves-light" mdbWavesEffect routerLink="/shop"><mdb-icon fas icon="shopping-cart"></mdb-icon>Shop</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto nav-flex-icons">
        <li class="nav-item">
          <a class="nav-link" href="https://www.instagram.com/algodemi.tejidos/" target="_blank" title="Seguime en Instagram!">
            <mdb-icon fab icon="instagram"></mdb-icon>
          </a>
        </li>
      </ul>
    </links>
  </mdb-navbar>
      <!-- <div class="md-form">
          <input mdbInput type="text" id="form1" class="form-control" [(ngModel)]="colorUser" (blur)="changeColor()">
          <label for="form1" class="">Color</label>
          <a href="https://mdbootstrap.com/docs/angular/css/colors/" target="_blank" class=""><b>COLORES</b></a>
      </div> -->
<router-outlet></router-outlet>
